# Main requirements
pymongo  # MongoDB driver for Python
pymongo[srv]  # Includes DNS support for MongoDB connection strings
dnspython  # Library for DNS resolution in Python
pandas  # Data manipulation and analysis library
numpy  # Fundamental package for numerical computations in Python
ensure  # Provides a way to ensure that code contracts are followed (if you meant `ensurepip`, it’s for ensuring pip is installed)
flake8
# Editable mode
-e .  # Install the current package in editable mode
